.subClass .sportDiv {
  width: 90%;
  border-radius: 1rem;
  height: 55vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(../../../../images/sports.jpeg);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
