.subClass .sportDiv {
  width: 90%;
  border-radius: 1rem;
  height: 50vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(https://images.unsplash.com/photo-1518614368389-5160c0b0de72?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fEJhc2tldGJhbGx8ZW58MHx8MHx8fDA%3D);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
