.item {
  width: 270px;
  background-color: white;
  transition: 500ms;
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.16);
  border-radius: .5rem;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: .5rem .5rem 0rem 0rem;
}

.description {
  padding-block: 1em;
  text-align: center;
  background-color: #201F1F;
  color: white;
  border-radius: 0em 0em .5rem .5rem  ;
}

.description > *+* {
  margin-top: .5em;
}

.item__addToCartBtn {
  background-color: orangered;
  border: none;
  color: white;
  padding: .4rem 1rem;
  border-radius: .4rem;
  cursor: pointer;
  font-weight: 600;
  font-size: .7rem;
  transition: background-color 0.3s;
}

.item__addToCartBtn:hover {
  background-color: #e64a19; /* Darker orangered on hover */
}

.item__addToCartBtn.in-cart {
  background-color: #d84315; /* Darker orangered for "In Cart" */
}

.item__addToCartBtn:disabled {
  background-color: rgb(179, 50, 3); /* Disabled state color */
  cursor: not-allowed;
}
