.subClass .stretchAndFlexibilityDiv {
  width: 90%;
  border-radius: 1rem;
  height: 55vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(https://firebasestorage.googleapis.com/v0/b/rare-fitness.appspot.com/o/class%2FstretchAndFlexibility.jpeg?alt=media&token=a9122ff2-d970-4053-9be9-7c4d938c932b);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
