.subClass .indoorDiv {
  width: 90%;
  border-radius: 1rem;
  height: 55vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(https://firebasestorage.googleapis.com/v0/b/rare-fitness.appspot.com/o/class%2Findoor.jpeg?alt=media&token=23637cad-0bb0-4323-acdc-2b389167bc8d);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
