.footer{
  width: 100%;
  margin-top: 2em;
  padding: 4em 1em;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: white;
  gap: 3em;
}

.footer .topp{
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.topp .foot_min{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  gap: 1em;
}


.foot_logo{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot_min li{
  list-style: none;
}

.foot_min li a{
  text-decoration: none;
  color: white;
}

.foot_media{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

@media only screen and (max-width: 800px) {
  .footer .topp {
      flex-direction: column;
      gap: 3em;
      width: 100%;
      justify-content: center;
  }
  .topp .foot_min{
    justify-content: center;
    width: 100%;
  }

  .foot_media{
    justify-content: center;
  }
}


.foot_media a{
  text-decoration: none;
  color:white;
}

.foot_media a img{
  width: 25px;
}