* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.register {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.left {
  width: 35%;
  height: 600px;
  border-radius: 1em;
}

.left img{
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: grayscale(100) brightness(1);
}

.right {
  width: 60%;
  border-radius: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  background-image: linear-gradient(to bottom right, rgb(237, 232, 232), rgba(0, 0, 0, 0.323), rgba(0, 0, 0, 0.632));
  box-shadow: 0px 0px 10px 1px rgba(128, 128, 128, 0.525);
}

.right .top {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 1em;
  gap: 2em;
  align-items: center;
}

.top a {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.top a button {
  background-color: gray;
  padding: 0.6em 3em;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.right .whole {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-direction: column;
  padding: 2em;
}

.right .signup-opt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1em;
}
.signup-opt > div {
  padding: 0.3em;
  width: 20%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.signup-opt div a {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.signup-opt > div a img {
  width: 25px;
  object-fit: contain;
}

.whole .or {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-weight: 700;
}
.whole .or span {
  width: 40%;
  height: 1px;
  background-color: black;
}

.whole form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}
 .input-div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.3em;
  width: 90%;
}

form input {
  border-radius: 5px;
  border: none;
  padding: 1em;
  outline: none;
  transition: 0.3s;
}

form input:focus {
  background-color: rgb(247, 244, 244);
}

form label {
  font-size: 13px;
}

.btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn-div button {
  padding: 0.8em 3em;
  border-radius: 10em;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background-color: orangered;
  cursor: pointer;
  color: white;
}

.btn-div button a {
  text-decoration: none;
}

.instructions {
  font-size: 11px;
  color: red;
  opacity: 0.7;
}

.errmsg {
  color: red;
  font-size: 14px;
}
