.subClass .danceDiv {
  width: 90%;
  border-radius: 1rem;
  height: 55vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(https://firebasestorage.googleapis.com/v0/b/rare-fitness.appspot.com/o/class%2Fdance.jpeg?alt=media&token=b0f2b0cb-432c-4a1d-8b25-acb4c21d799f);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
