.subClass .cardioDiv {
  width: 90%;
  border-radius: 1rem;
  height: 50vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.54)),
    url(../../../../images/hiit.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
