.subClass .groupExerciseDiv {
  width: 90%;
  border-radius: 1rem;
  height: 55vh;  background-image: linear-gradient(rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0.747)),
    url(https://firebasestorage.googleapis.com/v0/b/rare-fitness.appspot.com/o/class%2FgroupExcercise.jpeg?alt=media&token=2c13c70f-39d8-4df9-b62a-acd74c819711);
  background-size: 90%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
}
