.about_page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.who-we-are {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 2em;
  margin-top: 2em;
}

.who-we-are p {
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.9rem;
}

.mission {
  width: 90%;
  display: flex;
  margin-top: 3em;
  padding: 1em;
}

.vision {
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 1em;
  padding: 1em;
}

.mission .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 3em 0em;
  gap: 1.5em;
  flex-direction: column;
}

.vision .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  margin: 3em 0em;
  gap: 1.5em;
  flex-direction: column;
}

.mission .left h2,
.vision .left h2,
.who-we-are h2 {
  font-size: clamp(2rem, 2.5rem, 3vw);
  letter-spacing: 0.08em;
  font-family: "Play Pretend", sans-serif;
}

.mission .left p,
.vision .left p {
  width: 95%;
  font-size: 0.8rem, 1rem, 3vw;
}

.mission .rightt,
.vision .rightt {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission .rightt img,
.vision .rightt img {
  width: 95%;
  height: 95%;
  border-radius: 1rem;
}

.our_team {
  width: 90%;
  display: flex;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}

.our_team h2 {
  font-size: clamp(2rem, 2.5rem, 3vw);
  letter-spacing: 0.1em;
  font-family: "Play Pretend", sans-serif;
}

.teamDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 1.5em;
  align-items: center;
  padding: 1em;
}

.teamCard {
  width: clamp(22em, 85%, 70vw);
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  transition: 0.5s;
  gap: 1em;
  border-radius: 20vw 0vw 0vw 20vw;
}

@keyframes slide {
  0% {
    transform: translateX(-5em);
  }
  100% {
    transform: translateX(0em);
  }
}

.teamCard img {
  width: clamp(10rem, 200px, 25vw);
  height: clamp(8rem, 180px, 25vw);
  object-fit: cover;
  border-radius: 100vw 0vw 0vw 100vw;
  animation: slide 1s ease;
  border: 1px solid black;
  filter: brightness(120%);
}

.teamDetails {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1em;
}

.teamDetails p {
  font-size: clamp(0.5rem, 3vw, 0.9rem);
}

@media only screen and (max-width: 768px) {
  .mission {
    flex-direction: column;
  }
  .mission .left {
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
  .mission .rightt {
    width: 100%;
  }
  .mission .rightt img {
    width: 100%;
  }
  .vision {
    flex-direction: column;
  }
  .vision .left {
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
  }
  .vision .rightt {
    width: 100%;
  }
  .vision .rightt img {
    width: 100%;
  }
}
